**Name:** Muhammad Umer

**Email** umerhayat282@gmail.com

**Date** September 22, 2025



____

##  Lambda Function

**1. Simple Lambda:**

- Write a lambda function that takes a number and returns its square. Test it with the
number 5.

In [1]:
lamb = lambda x:x*2

lamb(5)

10

**2. Lambda with Multiple Arguments:**
- Write a lambda function that takes two numbers and returns their product. Test it with the
numbers 4 and 5.

In [2]:
lamb2 = lambda a, b: a*b
lamb2(4,5)

20

**3. Sorting with Lambda:**
- Given a list of tuples where each tuple contains a name and age, use sorted and a
lambda function to sort the list by age. Example list: [(&quot;Alice&quot;, 30), (&quot;Bob&quot;, 25),
(&quot;Charlie&quot;, 35)].

In [9]:
list_of_tuple = [("Alice",30),("Bob",25),("Charlie",35)]
list_of_tuple.sort(key= lambda x:x[1])
print(list_of_tuple)

[('Bob', 25), ('Alice', 30), ('Charlie', 35)]

**4. Lambda for String Manipulation:**
- Write a lambda function that takes a string and returns it in uppercase. Test it with the
string &quot;hello world&quot;.

In [11]:
string_mani =lambda x: x.upper()
string_mani("umer")

'UMER'

**5. Conditional Lambda:**
- Write a lambda function that takes a number and returns &quot;Even&quot; if the number is even,
and &quot;Odd&quot; if the number is odd. Test it with the number 3.

In [14]:
cond_lambda = lambda x: "Even" if x/2 == 0 else "Odd"
cond_lambda(5)

'Odd'

___

##  Function Exercises


**6. Define Functions**
- Write a function called greet that prints &quot;Hello, World!&quot;.

In [16]:
def greet():
    return "Hello, World!"


greet()

'Hello, World!'

**7. 2. Passing Arguments to Functions**
- Write a function called add that takes two parameters and prints their sum.
- Write a function called print_info that takes a name and an age as parameters and prints
them in the format &quot;Name: [name], Age: [age]&quot;.

In [23]:
def add(a,b):
    print(a+b)


add(4,5)

print("--"*50)




def print_info(name, age):
    print(f"Name: {name}, Age: {age}")

print_info("Umer", 25)

9
----------------------------------------------------------------------------------------------------
Name: Umer, Age: 25

**8. 3. Return a Value from a Function**
- Write a function called multiply that takes two numbers as parameters and returns their
product.
- Write a function called is_even that takes a number as a parameter and returns True if the
number is even and False if it is odd.

In [27]:
def multiply(a,b):
    return a*b


mul = multiply(5,6)

print(mul)

print("--"*50)


def is_even(n):
    if n /2==0:
        print("Even")
    else:
        print("Odd")

is_even(5)

30
----------------------------------------------------------------------------------------------------
Odd

**9. 4. Scope of Objects**
- Write a function called outer_function that defines a variable inside it, then defines and
calls an inner function that prints the variable.
- Write a script to demonstrate the difference between local and global variables by
defining a global variable, modifying it inside a function, and printing it both inside and
outside the function.

In [5]:
def outer_function():
    var = "Hello from outer function!"
    def inner_function():
        print(var)
    inner_function()

rec = outer_function()
print(rec)

print("--"*50)

global_var = "This is global variable"

def mod():
    global global_var
    print(f"Inside the function without modifitcation:  {global_var}")
    global_var = "This is the modified form"
    print(f"Inside the function after modification : {global_var}")


mod()


print(f"Outside the function: {global_var}")

Hello from outer function!
None
----------------------------------------------------------------------------------------------------
Inside the function without modifitcation:  This is global variable
Inside the function after modification : This is the modified form
Outside the function: This is the modified form

**10. 5. Default Arguments**
- Write a function called greet_person that takes a name as a parameter and prints &quot;Hello,
[name]&quot;. If no name is provided, it should default to &quot;Guest&quot;.
- Write a function called power that takes two numbers as parameters and returns the first
number raised to the power of the second number. If the second number is not provided,
it should default to 2.

In [18]:
def greet_person(name="Guest"):
    return "Hello" + ", " + name

print(f"Printing Without Name:  {greet_person()}")
print(f"Print with giving name: {greet_person(name='Umer')}")


print("--"*50)

def power(a, b=2):
    return a**b

power(5)

Printing Without Name:  Hello, Guest
Print with giving name: Hello, Umer
----------------------------------------------------------------------------------------------------

25

**11. 6. Positional and Keyword Arguments**
- Write a function called describe_pet that takes two parameters: a pet&#39;s name and a pet&#39;s
type. Use positional arguments to call the function with &quot;Buddy&quot; and &quot;dog&quot;, and keyword
arguments to call the function with &quot;cat&quot; and &quot;Whiskers&quot;.
- Write a function called make_sandwich that takes three ingredients as parameters and
prints the sandwich&#39;s ingredients in the format &quot;Sandwich with [ingredient1],
[ingredient2], and [ingredient3]&quot;. Call the function using both positional and keyword
arguments.

In [26]:
def describe_pet(pet_name, pet_type):
    print(f"I have a {pet_name}")
    print(f"My  {pet_name} type is {pet_type}")

describe_pet("buddy", "dog")

#calling the function using keyword arguments
describe_pet(pet_name="whiskers", pet_type="cat")

print("--"*50)

def make_sandwich(ing1="Chicken Spread", ing2="Bread Slices",ing3="Black Pepper"):
    print(f"Sandwich with {ing1}, {ing2} and {ing3}")


print(f"Calling the bydefault function: {make_sandwich()}")
print("Calling the function with positional keyword arguments:")
make_sandwich(ing1='BBq Sauce', ing2='Grilled Chicken', ing3='Masala')

I have a buddy
My  buddy type is dog
I have a whiskers
My  whiskers type is cat
----------------------------------------------------------------------------------------------------
Sandwich with Chicken Spread, Bread Slices and Black Pepper
Calling the bydefault function: None
Calling the function with positional keyword arguments:
Sandwich with BBq Sauce, Grilled Chicken and Masala


**12. 7. Variable-Length Arguments**
- Write a function called sum_numbers that takes any number of numerical arguments and
returns their sum.
- Write a function called display_students that takes a course name and any number of
student names, and prints the course name followed by the list of student names.

In [8]:
def sum_numbers(*n):
    return sum(n)


print(sum_numbers(5,10))

print("--"*50)




def display_students(course_name, *student_names):
    print(f"Course: {course_name}")
    print(f"Students:")
    for student in student_names:
        print(f"-{student}")


display_students("Data Science", "Umer", "Tayyab", "Kaleem")

15
----------------------------------------------------------------------------------------------------
Course: Data Science
Students:
-Umer
-Tayyab
-Kaleem

___

##  Complex Function Tasks with Lists, Tuples, and Dictionaries

**13. Student Grade Management**

**Scenario:** You have a list of tuples where each tuple contains a student&#39;s name and their
grades in three subjects.

o **Example:** students = [(&quot;Alice&quot;, [85, 90, 92]), (&quot;Bob&quot;, [78, 81, 85]), (&quot;Charlie&quot;,
[92, 88, 91])]

- **Tasks:**
    - 1. Write a function to calculate the average grade for each student.
    - 2. Write a function to find the student with the highest average grade.
    - 3. Write a function to find the student with the lowest average grade.
    - 4. Write a function to add a new student with their grades to the list.

In [43]:
students = [("Alice",[85,90,92]), ("Bob",[78,81,85]),("Charlie", [92,88,91])]

#1-write a function to calcualte the average grade for each student
def calculate_average(student_list):
    averages = {}
    for name, grade in student_list:
        av = sum(grade) / len(grade)
        averages[name] = av
        print(f"The average grade of {name} is {av:.2f} %")
    return averages

# Call and store averages
averages = calculate_average(students)

The average grade of Alice is 89.00 %
The average grade of Bob is 81.33 %
The average grade of Charlie is 90.33 %

In [44]:
#2- Write a function to find the student with the highest average grade
def highest_av(student_list):
    averages = calculate_average(student_list)
    highest_student = max(averages, key=averages.get)
    print(f"The highest average is {averages[highest_student]:.2f} %, scored by {highest_student}")

highest_av(students)

The average grade of Alice is 89.00 %
The average grade of Bob is 81.33 %
The average grade of Charlie is 90.33 %
The highest average is 90.33 %, scored by Charlie

In [81]:
#3-Write a function to add a new student with their grades to the list
# 
def add_item(name, grades):
    global students
    students.append((name, grades))
    print(f"Added {name} with grades {grades}")

# Example usage
add_item("David", [80, 85, 90])
calculate_average(students)

Added David with grades [80, 85, 90]
The average grade of Alice is 89.00 %
The average grade of Bob is 81.33 %
The average grade of Charlie is 90.33 %
The average grade of David is 85.00 %
The average grade of David is 85.00 %

{'Alice': 89.0,
 'Bob': 81.33333333333333,
 'Charlie': 90.33333333333333,
 'David': 85.0}

In [80]:
#4-Write a function to find a student with lowest grade
def lowest_av(student_list):
    averages = calculate_average(student_list)
    lowest_student = min(averages, key=averages.get)
    print(f"The lowest average is {averages[lowest_student]:.2f} %, scored by {lowest_student}")

lowest_av(students)

The average grade of Alice is 89.00 %
The average grade of Bob is 81.33 %
The average grade of Charlie is 90.33 %
The average grade of David is 85.00 %
The lowest average is 81.33 %, scored by Bob

...............................................................................................................................................................................................................................................................................................................................................................................................................

**14. 2. Inventory Management**

**Scenario:** You have a dictionary representing an inventory of products where the keys
are product names and the values are tuples containing the price and the stock quantity.

**o Example:** inventory = {&quot;apple&quot;: (0.5, 100), &quot;banana&quot;: (0.3, 150), &quot;orange&quot;: (0.7,
120)}
- Tasks:
    - 1. Write a function to add a new product to the inventory.
    - 2. Write a function to update the price and stock quantity of an existing product.
    - 3. Write a function to calculate the total value of the inventory (price * quantity for each
    product).
    - 1. Write a function to find the product with the highest stock quantity.

In [62]:
inventory = {
    "apple": (0.5, 100),
    "banana": (0.3, 150),
    "orange": (0.7, 120) 
    }

#1-write a function to add a new product to the inventory
def add_new_product(key, *value):
    global inventory
    if len(value) == 2:
        inventory[key] = value
        print(f"New product added: {key} → Price: {value[0]}, Quantity: {value[1]}")
    else:
        print(f"Error: Please provide both price and quantity.")


print(f"Original inventory: {inventory}")
print("--"*50)
add_new_product("cherry", 0.8,140)

print(f"\n Updated inventory: {inventory}")

Original inventory: {'apple': (0.5, 100), 'banana': (0.3, 150), 'orange': (0.7, 120)}
----------------------------------------------------------------------------------------------------
New product added: cherry → Price: 0.8, Quantity: 140

 Updated inventory: {'apple': (0.5, 100), 'banana': (0.3, 150), 'orange': (0.7, 120), 'cherry': (0.8, 140)}

In [67]:
#2-write a function to update the price and stock quantity of an existing product

def update_price(product, new_price):
    if product in inventory:
        quantity = inventory[product][1]  # Keep the old quantity
        inventory[product] = (new_price, quantity)
        print(f"Updated {product} price to {new_price}")
    else:
        print(f"{product} not found in inventory.")

# Update 
update_price("apple", 0.6)
print(inventory)

Updated apple price to 0.6
{'apple': (0.6, 100), 'banana': (0.3, 150), 'orange': (0.7, 120), 'cherry': (0.8, 140)}

In [69]:
#3- write a function to calculate total value of inventory, price * quantity

def value(inventory):
    total_value = {}
    for key, value in inventory.items():
        total = value[0] * value[1]
        total_value[key] = total 
    return total_value

value(inventory)

{'apple': 60.0, 'banana': 45.0, 'orange': 84.0, 'cherry': 112.0}

In [75]:
#4- write a function to find the  product with highest product quantity

def highest_quantity(inventory):
    max_product = None
    max_quantity = 0

    for product, (price, quantity) in inventory.items():
        if quantity > max_quantity:
            max_quantity = quantity
            max_product = product

    return max_product, max_quantity


max_pro, max_quant = highest_quantity(inventory)

print(f"The product with highest quantity is '{max_pro}' and the highest quantity is: {max_quant}")

The product with highest quantity is 'banana' and the highest quantity is: 150

...............................................................................................................................................................................................................................................................................................................................................................................................................

**o Employee Data Processing**

**Scenario:** You have a list of dictionaries where each dictionary contains details of an
employee: their name, age, department, and salary.

**o Example:**
employees = [{&quot;name&quot;: &quot;Alice&quot;, &quot;age&quot;: 30, &quot;department&quot;: &quot;HR&quot;,
&quot;salary&quot;: 50000}, {&quot;name&quot;: &quot;Bob&quot;, &quot;age&quot;: 25, &quot;department&quot;: &quot;IT&quot;, &quot;salary&quot;:
60000}, {&quot;name&quot;: &quot;Charlie&quot;, &quot;age&quot;: 35, &quot;department&quot;: &quot;Finance&quot;, &quot;salary&quot;:
55000}]
- Tasks:
  - 1. Write a function to add a new employee to the list.
  - 2. Write a function to remove an employee from the list by their name.
  - 3. Write a function to find the average salary of employees in a specific department.
  - 4. Write a function to find the employee with the highest salary.
  - 5. Write a function to list all employees in a specific department.

In [83]:
employees = [
    {
        "name": "Alice", 
        "age": 30, 
        "department": "HR", 
        "salary": 50000
        }, 
    {
        "name": "Bob", 
        "age": 25, 
        "department": "IT", 
        "salary": 60000
        }, 
    {
        "name": "Charlie", 
        "age": 35, 
        "department": "Finance", 
        "salary": 55000
        }
    ]

#1- write a function to add a new empoyee to the list
def add_to_list(name,age, department, salary):
    new_employee = {
        "name": name,
        "age": age,
        "department": department,
        "salary": salary
    }
    employees.append(new_employee)
    print(f"The new employee {name} added to list of dictionaries")

add_to_list("Umer", 25, "Ai",200000)

for emp in employees:
    print(emp)

The new employee Umer added to list of dictionaries
{'name': 'Alice', 'age': 30, 'department': 'HR', 'salary': 50000}
{'name': 'Bob', 'age': 25, 'department': 'IT', 'salary': 60000}
{'name': 'Charlie', 'age': 35, 'department': 'Finance', 'salary': 55000}
{'name': 'Umer', 'age': 25, 'department': 'Ai', 'salary': 200000}

In [91]:
#2- write a function to remove an employee form the list by their name

def remove_employee(name):
    global employees
    for emp in employees:
        if emp["name"] == name:
            employees.remove(emp)
            print(f"{name} removed successfully.")
            return
    print("Employee not found. Please enter a valid name.")



print(remove_employee("Alice"))

for emp in employees:
    print(emp)

Alice removed successfully.
None
{'name': 'Bob', 'age': 25, 'department': 'IT', 'salary': 60000}
{'name': 'Charlie', 'age': 35, 'department': 'Finance', 'salary': 55000}
{'name': 'Umer', 'age': 25, 'department': 'Ai', 'salary': 200000}

In [93]:
#3- wirte a function to find the average salary of employee in a specific department
def average_salary_by_department(employees, department_name):
    total_salary = 0
    count = 0
    for emp in employees:
        if emp["department"].lower() == department_name.lower():
            total_salary += emp["salary"]
            count += 1
    if count > 0:
        average = total_salary / count
        print(f"Average salary in {department_name} department is {average:.2f}")
        return average
    else:
        print(f"No employees found in department: {department_name}")
        return None

#usage
average_salary_by_department(employees, "IT")

Average salary in IT department is 60000.00

60000.0

In [98]:
#4- write a function to find the employee with the highest salary
def highest_salary(employees):
    highest_paid  = employees[0]
    for emp in employees:
        if emp["salary"] > highest_paid["salary"]:
            highest_paid = emp 
    print(f"Highest paid employee is {highest_paid['name']} with salary {highest_paid['salary']}")
    return highest_paid




highest_salary(employees)

Highest paid employee is Umer with salary 200000

{'name': 'Umer', 'age': 25, 'department': 'Ai', 'salary': 200000}

In [102]:
#5- write a function to list all employees in a specific department
def employees_with_department(employees, department_name):
    department_employees = []
    for emp in employees:
        if emp["department"].lower() == department_name.lower():
            department_employees.append(emp["name"])
    if department_employees:
        print(f"Employees in {department_name} department: {', '.join(department_employees)}")
    else:
        print(f"No employees found in department: {department_name}")
    return department_employees


employees_with_department(employees, "IT")

Employees in IT department: Bob

['Bob']

...............................................................................................................................................................................................................................................................................................................................................................................................................

**o Book Collection Management**

**Scenario:** You have a dictionary where the keys are genres and the values are lists of
tuples, each containing a book title and its author.

**Example:** books = {&quot;Science Fiction&quot;: [(&quot;Dune&quot;, &quot;Frank Herbert&quot;),
(&quot;Neuromancer&quot;, &quot;William Gibson&quot;)], &quot;Fantasy&quot;: [(&quot;The Hobbit&quot;, &quot;J.R.R.
Tolkien&quot;), (&quot;Harry Potter&quot;, &quot;J.K. Rowling&quot;)]}

- Tasks:
  - 1. Write a function to add a new book to a genre.
  - 2. Write a function to remove a book from a genre.
  - 3. Write a function to find all books by a specific author across all genres.
  - 4. Write a function to list all books in a specific genre.
  - 5. Write a function to count the total number of books in the collection.

In [ ]:
books  = {
    "Science Fiction": [("Dune","Frank Herbert"),("Neuromancer","William Gibson")],
    "Fantasy": [("The Hobbit", "J.R.R Tolkien"),("Harry Potter", "J.K Rowling")]
}
#1- Wirte a function to add a new book to a genre
def add_new_book(key, value):
    global books
    if key in books:
        books[key].append(value)
    else:
        books[key] = [value]
    print(f"New book added: {value[0]} by {value[1]} category")
    return books

add_new_book("Fantasy", ("Lord of the Ring", "by Noor Jahan"))
print(f"Updated Book: {books}")

New book added: Lord of the Ring by by Noor Jahan category
Updated Book: {'Science Fiction': [('Dune', 'Frank Herbert'), ('Neuromancer', 'William Gibson')], 'Fantasy': [('The Hobbit', 'J.R.R Tolkien'), ('Harry Potter', 'J.K Rowling'), ('Lord of the Ring', 'by Noor Jahan')]}

In [4]:
#2- Write a function to remove a book from genre

def remove(key, value):
    global books
    if key in books:
        books[key].remove(value)
    else:
        print(f"{value }Book not found write valid genre and name")
    return books

remove("Fantasy", ("Lord of the Ring", "by Noor Jahan"))
print(f"\n Updated dictionary: \n{books}")

 Updated dictionary:
{'Science Fiction': [('Dune', 'Frank Herbert'), ('Neuromancer', 'William Gibson')], 'Fantasy': [('The Hobbit', 'J.R.R Tolkien'), ('Harry Potter', 'J.K Rowling')]}

In [15]:
#3- write a function to find all books by a specific author across all genres
def find_all(author_name):
    found = False
    for genre, book_list in books.items():
        for book_name, author in book_list:
            if author_name in author:
                print(f"Book written by {author_name} is '{book_name}' and genre is '{genre}'")
                found = True
    if not found:
        print("Book not found or enter a valid name")


find_all("Frank Herbert")

Book written by Frank Herbert is 'Dune' and genre is 'Science Fiction'

In [20]:
#4- write a function to list all books in a specific genre
def list_all_book(books, specific_genre):
    book_new_list = {}
    for genre, book_list in books.items():
        if specific_genre.lower() == genre.lower():
            for book_name, author in book_list:
                book_new_list.setdefault(genre, []).append(book_name)
    if not book_new_list:
        print("Please enter a valid genre")
    return book_new_list

list_all_book(books, "Science Fiction")

{'Science Fiction': ['Dune', 'Neuromancer']}

In [24]:
#5- write a function to count total number of books in collection
def count_books(books):
    count = 0
    for genre, book_list in books.items():
        for book_name, author in book_list:
            count += 1
    if not count:
        print(f"Unable to count there is problem in code logic")
    return count

count_books(books)

4

...............................................................................................................................................................................................................................................................................................................................................................................................................









**15. Movie Ratings**

**Scenario:** You have a dictionary where the keys are movie titles and the values are lists
of tuples, each containing a reviewer&#39;s name and their rating for the movie.

**Example:** movies = {&quot;Inception&quot;: [(&quot;Alice&quot;, 9), (&quot;Bob&quot;, 8)], &quot;Titanic&quot;: [(&quot;Alice&quot;,
7), (&quot;Charlie&quot;, 8)]}

- Tasks:
  - 1. Write a function to add a new rating for a movie.
  - 2. Write a function to update an existing rating for a movie.
  - 3. Write a function to calculate the average rating for a movie.
  - 4. Write a function to find the movie with the highest average rating.
  - 5. Write a function to list all movies reviewed by a specific reviewer.

In [29]:
#1- write a function to add  new rating for a movie
movies = {
    "Inception":[("Alice",9), ("Bob", 8)],
    "Titanic": [("Alice",7), ("Charlie",8)]
}

def add_new_rating(movie_name, rating):
    global movies
    if movie_name in movies:
        movies[movie_name].append(rating)
    else:
        movies[movie_name] = [rating]
    print(f"New rating added for '{movie_name}': {rating[0]} rated it {rating[1]}")
    return movies

# Example usage:
add_new_rating("Titanic", ("Asim Muneer", 10))

New rating added for 'Titanic': Asim Muneer rated it 10

{'Inception': [('Alice', 9), ('Bob', 8)],
 'Titanic': [('Alice', 7), ('Charlie', 8), ('Asim Muneer', 10)]}

In [30]:
#2- write a functio to update an existing rating for a movie
def update_rating(movie_name, reviewer_name, new_rating):
    global movies
    if movie_name in movies:
        for i, (reviewer, rating) in enumerate(movies[movie_name]):
            if reviewer == reviewer_name:
                movies[movie_name][i] = (reviewer_name, new_rating)
                print(f"Updated rating for '{movie_name}': {reviewer_name} rated it {new_rating}")
                return movies
        print(f"Reviewer '{reviewer_name}' not found for movie '{movie_name}'")
    else:
        print(f"Movie '{movie_name}' not found in the collection")

update_rating("Inception", "Bob", 9)

Updated rating for 'Inception': Bob rated it 9

{'Inception': [('Alice', 9), ('Bob', 9)],
 'Titanic': [('Alice', 7), ('Charlie', 8), ('Asim Muneer', 10)]}

In [39]:
#3- write a function to calculate the average rating for a movie
def average_rating(movies, movie_name):
    if movie_name in movies:
        rating_list = movies[movie_name]
        total = 0
        for name, rating in rating_list:
            total += rating
        avg = total / len(rating_list)
        return avg
    else:
        print("Movie not found or invalid input")
        return None


average_rating(movies, "Titanic")

8.333333333333334

In [42]:
#4- write a function to find the movie with the highest average rating
def highest_average(movies):
    highest_avg = 0
    best_movie = None
    for movie_name in movies:
        avg = average_rating(movies, movie_name)
        if avg is not None and avg > highest_avg:
            highest_avg = avg
            best_movie = movie_name
    print(f"Movie with highest average rating is '{best_movie}' with {highest_avg:.2f}")
    return best_movie, highest_avg

highest_average(movies)

Movie with highest average rating is 'Inception' with 9.00

('Inception', 9.0)

In [45]:
#5- write a function to list all movie reviewed by a specific reviwer
def list_all_movie(movies, reviewer_name):
    movie_list = []
    for movie_name, rating_list in movies.items():
        for person_name, rating in rating_list:
            if reviewer_name.lower() == person_name.lower():
                movie_list.append(movie_name)
    if not movie_list:
        print("Reviewer not found or no reviews available.")
    return {reviewer_name: movie_list}


list_all_movie(movies, "Alice")

{'Alice': ['Inception', 'Titanic']}

___