**Name:** Muhammad Umer

**Email** umerhayat282@gmail.com

**Date** September 17, 2025



____

##  Dictionary Exercises

**1. Create a Dictionary:**

- Create a dictionary to store the names and ages of five people. Print the
dictionary.

In [5]:
people = {}

for i in range(5):
    name = input("Enter your name: ")
    age = int(input("Enter your age"))
    people[name] = age

print(f"People with their Ages: {people}")

People with their Ages: {'Umer': 25, 'Tayyab': 30, 'Ghazia': 23, 'Mujtaba': 29, 'adnan': 90}

**2. Accessing Values:**

- Given a dictionary with student names as keys and their grades as values, print the grade of the student named &quot;Alice&quot;: 
- students_grades = {&quot;John&quot;: &quot;A&quot;, &quot;Alice&quot;: &quot;B&quot;, &quot;Bob&quot;: &quot;C&quot;, &quot;Diana&quot;: &quot;A&quot;}

In [8]:
student_grades = {"John": "A", "Alice": "B", "Bob":"C", "Diana":"A"}
student_grades["Alice"]

'B'

**3. Update a Dictionary:**

- Update the age of one person in the dictionary you created in Exercise 1. Print the
updated dictionary.

In [10]:
people = {'Umer': 25, 'Tayyab': 30, 'Ghazia': 23, 'Mujtaba': 29, 'adnan': 90}

people['adnan'] = 19

print(people)

{'Umer': 25, 'Tayyab': 30, 'Ghazia': 23, 'Mujtaba': 29, 'adnan': 19}

**4. Add New Key-Value Pairs:**
- Add a new person to the dictionary created in Exercise 1. Print the updated
dictionary.

In [11]:
people = {'Umer': 25, 'Tayyab': 30, 'Ghazia': 23, 'Mujtaba': 29, 'adnan': 90}

people["bilal"] = 54

print(people)

{'Umer': 25, 'Tayyab': 30, 'Ghazia': 23, 'Mujtaba': 29, 'adnan': 90, 'bilal': 54}

**5. Delete a Key-Value Pair:**
- Remove one person from the dictionary created in Exercise 1. Print the updated
dictionary.

In [12]:
del people["Ghazia"]

print(people)

{'Umer': 25, 'Tayyab': 30, 'Mujtaba': 29, 'adnan': 90, 'bilal': 54}

**6. Check for Key Existence:**
- Check if a specific key (name) exists in the dictionary from Exercise 1. Print an
appropriate message based on whether the key exists or not.

In [180]:
search_query = "Umer"

found = False
for key, value in people.items():
    if search_query == key:
        print(f"Yes Umer is in dictionary")
        found = True
if not found:
    print(f"Not found! Kindly enter valid name")

Yes Umer is in dictionary

**7. Iterate Through a Dictionary:**
- Iterate through the dictionary from Exercise 1 and print each key-value pair.

In [19]:
for key, values in people.items():
    print(f"Keys: {key}. Values: {values}")

Keys: Umer. Values: 25
Keys: Tayyab. Values: 30
Keys: Mujtaba. Values: 29
Keys: adnan. Values: 90
Keys: bilal. Values: 54

**8. Dictionary Length:**
- Find and print the number of key-value pairs in the dictionary from Exercise 1.

In [23]:
print(f"The number of keys are {len(people.keys())}")
print(f"The number of values are {len(people.values())}")

The number of keys are 5
The number of values are 5

**9. Copy a Dictionary:**
- Create a copy of the dictionary from Exercise 1. Modify the copy and print both
the original and the modified copy.

In [28]:
new_people = people.copy()
print(new_people)


print("----"*30)

new_people["jaffar"] = 54

print(f"This one is the modified dictionary {new_people}")

{'Umer': 25, 'Tayyab': 30, 'Mujtaba': 29, 'adnan': 90, 'bilal': 54}
------------------------------------------------------------------------------------------------------------------------
This one is the modified dictionary {'Umer': 25, 'Tayyab': 30, 'Mujtaba': 29, 'adnan': 90, 'bilal': 54, 'jaffar': 54}

**10. Nested Dictionary:**
- Create a dictionary that stores the information of three people. Each person should
have a nested dictionary containing their age, address, and phone number. Print
the nested dictionary.

In [30]:
information = {
    "umer":{"age":25,"address":"malick shabbir akhtar street","phone":123123123},
    "hayat":{"age":24,"address":"near school 645 zip code","phone":9876543211},
    "nabeel": {"age":21, "address": "near highway 510 zip code", "phone": 5426646526}
}

print(information)

{'umer': {'age': 25, 'address': 'malick shabbir akhtar street', 'phone': 123123123}, 'hayat': {'age': 24, 'address': 'near school 645 zip code', 'phone': 9876543211}, 'nabeel': {'age': 21, 'address': 'near highway 510 zip code', 'phone': 5426646526}}

**11. Merge Dictionaries:**
- Merge two dictionaries into one. Print the result.

In [32]:
dict_1 = {"umer": 25, "tayyab": 30, "ghazia": 23, "mujtaba": 29, "adnan": 90}
dict_2 = {"bilal": 54, "jaffar": 60, "hamza": 20, "ali": 25, "hassan": 30}

#merge two dictionaries
dict_1.update(dict_2)

print(dict_1)

{'umer': 25, 'tayyab': 30, 'ghazia': 23, 'mujtaba': 29, 'adnan': 90, 'bilal': 54, 'jaffar': 60, 'hamza': 20, 'ali': 25, 'hassan': 30}

**12. Dictionary of Lists:**
- Create a dictionary where the keys are the names of students and the values are
lists of their grades. Print the dictionary.

In [182]:
student_grades = {
    "Umer": ["A"],
    "Nabeel": ["B"],
    "kaleem": ["C"],
    "Najaf": ["D"],
    "Noon": ["F"]       
}

print(student_grades)

{'Umer': ['A'], 'Nabeel': ['B'], 'kaleem': ['C'], 'Najaf': ['D'], 'Noon': ['F']}

**13. Dictionary Comprehension:**
- Use dictionary comprehension to create a dictionary where the keys are numbers
from 1 to 10 and the values are the squares of these numbers.

In [42]:
square_dict = {x: x**2 for x in range(1,11)}
print(square_dict)
print(type(square_dict))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
<class 'dict'>

**14. From User Input:**
- Write a script to create a dictionary by taking name and age as input from the user
for five people. Print the dictionary.

In [40]:
information_dict = {}
for i in range(5):
    name = input("Enter your name: ")
    age = int(input("Enter your age"))
    information_dict[name] = age

print(information_dict)
print(type(information_dict))

{'umer': 18, 'adnan': 71, 'huma': 17, 'mujtaba': 81, 'mustafa': 54}
<class 'dict'>

**15. Count Occurrences:**

- Given a string, count the occurrences of each character using a dictionary. Print
the dictionary.

In [50]:
string = "Given a string, count the occurrences of each character using a dictionary. Print the dictionary"
frequency_count = {}

for char in string:
    if char in frequency_count:
        frequency_count[char] += 1
    else:
        frequency_count[char] = 1

print(frequency_count)

{'G': 1, 'i': 8, 'v': 1, 'e': 7, 'n': 8, ' ': 14, 'a': 7, 's': 3, 't': 8, 'r': 8, 'g': 2, ',': 1, 'c': 9, 'o': 5, 'u': 3, 'h': 4, 'f': 1, 'd': 2, 'y': 2, '.': 1, 'P': 1}

**16. Reverse Lookup:**
- Given a dictionary of names and ages, write a script to find and print the names of
people with a specific age.

In [66]:
dict_2 = {"bilal": 54, "jaffar": 60, "hamza": 20, "ali": 25, "hassan": 30}
particular_age = 25
found = False


for key, value in dict_2.items():
    if value == particular_age:
        print(f"{key}: {value}")
        found = True

if not found:
    print(f"Record of this particular age {particular_age} not found")

ali: 25

**17. Sum Values:**
- Given a dictionary with numerical values, calculate and print the sum of the
values.

In [71]:
dict_2 = {"bilal": 54, "jaffar": 60, "hamza": 20, "ali": 25, "hassan": 30}

dict_value_sum = sum(dict_2.values())

print(dict_value_sum)

189

**18. Top Student:**
- Given a dictionary of student names and their grades, find and print the name of
the student with the highest grade.

In [85]:
#create a dictionary of students and their grades, find and print the name of the student with highes grade
student_grades = {
    "Umer": 85,
    "Nabeel": 92,
    "Kaleem": 78,
    "Najaf": 88,
    "Noon": 95
}
student_with_maximum_grades = max(student_grades, key = student_grades.get)
print(student_with_maximum_grades)

Noon

**19. Unique Values:**
- Write a script to print all unique values in a dictionary.

In [88]:
unique_value = set(student_grades.values())
print(unique_value)

{78, 85, 88, 92, 95}

**20. Default Dictionary:**
- Use collections.defaultdict to create a dictionary that automatically assigns
a default value of 0 to any key that does not exist. Add some values and print the
dictionary.

In [101]:
from collections import defaultdict

auto_dict = defaultdict(int)
auto_dict["a"] += 1
auto_dict["b"] += 2
auto_dict["c"] += 3
print(auto_dict)
print(dict(auto_dict))

defaultdict(<class 'int'>, {'a': 1, 'b': 2, 'c': 3})
{'a': 1, 'b': 2, 'c': 3}

**21. Dictionary from Two Lists:**
- Create a dictionary from two lists: one containing keys and the other containing
values. Print the dictionary.

In [104]:
list1 = ["umer","nabeel","kaleem","Najaf"]
list2 = [25,23,21,19]

new_dict = {}

for key, value in zip(list1, list2):
    new_dict[key] = value

print(new_dict)
print(type(new_dict))

{'umer': 25, 'nabeel': 23, 'kaleem': 21, 'Najaf': 19}
<class 'dict'>

**22. Group by Category:**
- Given a list of products, each with a name and category, group the products by
category in a dictionary and print it.

In [107]:
#given a list of porducts, each with a name and category, group the products by category in a dictionary and print it.
products = [
    {"name": "Laptop", "category": "Electronics"},
    {"name": "Shirt", "category": "Clothing"},
    {"name": "Smartphone", "category": "Electronics"},
    {"name": "Pants", "category": "Clothing"},
    {"name": "Blender", "category": "Home Appliances"}
]

product_dict = {}

for product in products:
    cat = product["category"]
    name = product["name"]

    if cat not in product_dict:
        product_dict[cat] = []

    product_dict[cat].append(name)

print(product_dict)

{'Electronics': ['Laptop', 'Smartphone'], 'Clothing': ['Shirt', 'Pants'], 'Home Appliances': ['Blender']}

**23. Dictionary to List:**
- Convert a dictionary into two lists: one for keys and one for values. Print both
lists.

In [108]:
dict_new = {'umer': 25, 'nabeel': 23, 'kaleem': 21, 'Najaf': 19}

name_list = []
age_list = []

for key, value in dict_new.items():
    name_list.append(key)
    age_list.append(value)


print(name_list)
print(age_list)

['umer', 'nabeel', 'kaleem', 'Najaf']
[25, 23, 21, 19]

**24. Filter Dictionary:**
- Write a script to filter a dictionary by retaining only those key-value pairs where the
value is greater than a specified threshold. Print the filtered dictionary.

In [111]:
dict_new = {'umer': 25, 'nabeel': 23, 'kaleem': 21, 'Najaf': 19}
#i will use dict comprehension method here
threshold = 20

filtered_dict = {k: v for k,v in dict_new.items() if v >= threshold}
print(filtered_dict)

{'umer': 25, 'nabeel': 23, 'kaleem': 21}

**25. Sorted Dictionary:**
- Write a script to sort a dictionary by its keys and then by its values, and print the
sorted dictionary.

In [123]:
dict_new = {'umer': 25, 'nabeel': 23, 'kaleem': 21, 'Najaf': 19}

sort_by_keys =  dict(sorted(dict_new.items()))
print(sort_by_keys)


sorted_by_values = dict(sorted(dict_new.items(), key=lambda x: x[1] ))
print(sorted_by_values)

{'Najaf': 19, 'kaleem': 21, 'nabeel': 23, 'umer': 25}
{'Najaf': 19, 'kaleem': 21, 'nabeel': 23, 'umer': 25}

___

##  Set Exercises

**26. Create a Set:**
- Create a set containing the names of five fruits. Print the set.

In [124]:
fruits_set = set(("apple","banana", "orange","cherry", "strawberry"))

print(fruits_set)
print(type(fruits_set))

{'strawberry', 'banana', 'cherry', 'orange', 'apple'}
<class 'set'>

**27. Add an Element:**
- Add a new fruit to the set you created in Exercise 1. Print the updated set.

In [130]:
fruits_set.add("mangoes")

print(f"New Updated set {fruits_set}")

New Updated set {'mangoes', 'strawberry', 'banana', 'cherry', 'orange', 'apple'}

**28. Remove an Element:**
- Remove a fruit from the set you created in Exercise 1. Print the updated set.

In [133]:
fruits_set.discard("cherry")

print(fruits_set)

{'mangoes', 'strawberry', 'banana', 'orange', 'apple'}

**29. Check Membership:**
- Write a script to check if a specific fruit is in the set created in Exercise 1. Print an
appropriate message.

In [139]:
search_item = "banana"

if search_item  in fruits_set:
    print(f"Yes {search_item} is in set")
else:
    print(f"{search_item} is not in fruits")

Yes banana is in set

**30. Union of Sets:**
- Create two sets of fruits and find their union. Print the resulting set.

In [142]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}


#method
union_1 = set1.union(set2)
print(f"This is the Union of two set {union_1} with 'union' method")

#with operator 
union_2 = set1 | set2
print(f"This is the Union of two set {union_2} with '|' Operator")

This is the Union of two set {1, 2, 3, 4, 5} with 'union' method
This is the Union of two set {1, 2, 3, 4, 5} with '|' Operator

**31. Intersection of Sets:**
- Create two sets of fruits and find their intersection. Print the resulting set.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}


#method
intersection_1 = set1.intersection(set2)
print(f"This is the intersection of two set {intersection_1} with 'intersection' method")

#with operator 
intersection_2 = set1 & set2
print(f"This is the intersection of two set {intersection_2} with '&' Operator")

This is the Union of two set {3} with 'intersection' method
This is the Union of two set {3} with '&' Operator

**32. Difference of Sets:**
- Create two sets of fruits and find the difference between them. Print the resulting
set.

In [145]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}


#method 
diff_1 = set1.difference(set2)
print(f"This is the difference {diff_1} with 'difference' method")

#with operator

diff_2 = set1 - set2
print(f"This is the difference {diff_2} with '-' operator")

This is the difference {1, 2} with 'difference' method
This is the difference {1, 2} with '-' operator

**33. Symmetric Difference of Sets:**
- Create two sets of fruits and find their symmetric difference. Print the resulting
set.

In [148]:
#with method
sym_diff_1 = set1.symmetric_difference(set2)
print(f"This is the symmetric difference {sym_diff_1} with 'symmetric_difference' method")

#with operator

sym_diff_2 = set1 ^ set2
print(f"This is the symmetric difference {sym_diff_2} with '^' operator")

This is the symmetric difference {1, 2, 4, 5} with 'symmetric_difference' method
This is the symmetric difference {1, 2, 4, 5} with '^' operator

**34. Subset Check:**
- Write a script to check if one set is a subset of another. Print an appropriate
message.

In [161]:
subset_1 = set2.issubset(set1)
print(f"\n Is set1 is subset of set2 ? \n  Answer: {subset_1}")

 Is set1 is subset of set2 ?
  Answer: False

**35. Superset Check:**
- Write a script to check if one set is a superset of another. Print an appropriate
message.

In [162]:
super_set = set1.issuperset(set2)
print(f"\n Is set1 is superset of set2 ? \n  Answer: {super_set}")

 Is set1 is superset of set2 ?
  Answer: False

**36. Iterate Through a Set:**
-  Write a script to iterate through a set and print each element.

In [163]:
for i in fruits_set:
    print(i)

mangoes
strawberry
banana
orange
apple

**37. Set Length:**
- Write a script to find and print the number of elements in a set.

In [166]:
print(f"\n The Number of items in the set are {len(fruits_set)}")

 The Number of items in the set are 5

**38. Remove Duplicates:**
- Given a list of numbers, write a script to remove duplicates by converting the list
to a set. Print the resulting set.

In [167]:
#create a list of 20 numbers wih duplicates. 
numbers = [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]

number_2 = set(numbers)
print(number_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

____