**Name:** Muhammad Umer

**Email** umerhayat282@gmail.com

**Date** September 10, 2025



____

##  Lab Task 1: Basic Variable Assignment

**Task:** Assign the following values to variables and print them. Then, identify and print
the data type of each variable.

- age with a value of 21 (integer)
- height with a value of 5.9 (float)
- name with a value of &quot;Alice&quot; (string)
- is_student with a value of False (boolean)

In [39]:
#defining the variables
age = 21
height = 5.9
name = "Alice"
is_student = False

print(age)
print(type(age))
print(height)
print(type(height))
print(name)
print(type(name))
print(is_student)    
print(type(is_student))

21
<class 'int'>
5.9
<class 'float'>
Alice
<class 'str'>
False
<class 'bool'>

___

##  Lab Task 2: Variable Operations

**Task:** Create the following variables with given values. Perform the specified operations
and print the results:

- x with a value of 10 (integer)
- y with a value of 3 (integer)
- a with a value of 4.5 (float)
- b with a value of 2.5 (float)
- Calculate and print the sum, difference, product, and quotient of x and y.
- Calculate and print the average of a and b.

In [40]:
x = 10
y = 3
a = 4.5
b = 2.5

print(f"Sum of {x} and {y} is:               {x + y}")        # Addition
print(f"Difference of {x} and {y} is:        {x - y}")        # Subtraction
print(f"Product of {x} and {y} is:           {x * y}")        # Multiplication
print(f"Quotient of {x} and {y} is:          {x // y:.2f}")        # Quotient

print("---" * 15)

#calculate the average of a and b
print("calculating the average of a and b")
average = (a + b) / 2
print(f"Average of {a} and {b} is:           {average}")

Sum of 10 and 3 is:               13
Difference of 10 and 3 is:        7
Product of 10 and 3 is:           30
Quotient of 10 and 3 is:          3.00
---------------------------------------------
calculating the average of a and b
Average of 4.5 and 2.5 is:           3.5

___

##  Lab Task 3: String Operations

**Task:** Given the following variables, perform string operations and print the results:

- first_name with a value of &quot;John&quot;
- last_name with a value of &quot;Doe&quot;
- Concatenate first_name and last_name with a space in between and print the
full name.
- Print the length of full_name.
- Convert full_name to uppercase and print it.

In [41]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print("Full name:", full_name)
print("Length of full name:", len(full_name))
print("Full name in uppercase:", full_name.upper())

Full name: John Doe
Length of full name: 8
Full name in uppercase: JOHN DOE

___

##  Lab Task 4: Boolean Logic
**Task:** Assign values to the following variables and evaluate the Boolean expressions.
Print the results.

- is_raining with a value of True
- is_sunny with a value of False
- temperature with a value of 25 (integer)
- Check and print whether is_raining is True and is_sunny is False.
- Check and print whether the temperature is greater than 20 and is_sunny is True.

In [42]:
is_raining = True
is_sunny = False
temperature = 25

print("Is it raining?\n", is_raining)
print("Is it sunny?\n", is_sunny)
print("Is it raining and not sunny?\n", is_raining and not is_sunny)
print("Is it raining or sunny?\n", is_raining or is_sunny)
print("Is the temperature greater than 20 and is it sunny?\n", temperature > 20 and is_sunny)

Is it raining?
 True
Is it sunny?
 False
Is it raining and not sunny?
 True
Is it raining or sunny?
 True
Is the temperature greater than 20 and is it sunny?
 False

___

## Lab Task 5: Type Conversion

**Task:** Convert the following variables into different data types and print the results.

- Convert an integer to a float.
- Convert a float to an integer.
- Convert a string representing a number to an integer.
- Convert a string representing a number to a float.

In [43]:
#converting int to float
print("Converting int to float:")
int_value = 10
float_value = float(int_value)
print("Integer value:", int_value)
print("Float value:", float_value)

print("---" * 10)

#coverting float to int
print("Converting float to int:")

float_value2 = 9.99
int_value2 = int(float_value2)
print("Float value:", float_value2)
print("Integer value:", int_value2)

print("---" * 10)

#convert s sting representing a number to an integer
print("convert a string representing a number to an integer:")
str_num = "42"
int_num = int(str_num)
print("String value:", str_num)
print("Integer value:", int_num)
print("data type before:", type(str_num))
print("data type after:", type(int_num))

print("---" * 10)


#convert a string representing a number to a float
print("convert a string representing a number to a float:")
str_num2 = "3.14"
float_num = float(str_num2)
print("String value:", str_num2)
print("Float value:", float_num)
print("data type before:", type(str_num2))
print("data type after:", type(float_num))

print("---" * 10)

Converting int to float:
Integer value: 10
Float value: 10.0
------------------------------
Converting float to int:
Float value: 9.99
Integer value: 9
------------------------------
convert a string representing a number to an integer:
String value: 42
Integer value: 42
data type before: <class 'str'>
data type after: <class 'int'>
------------------------------
convert a string representing a number to a float:
String value: 3.14
Float value: 3.14
data type before: <class 'str'>
data type after: <class 'float'>
------------------------------

___

##  Lab Task 6: Type Checking

**Task:** Write a program that takes a variable and prints out its type using the type()
function.

var = 42

var = 3.14

var = &quot;Data Science

var = False print(type(var))

In [44]:
#write a program that takes a variable and prints out its type using type() function
var1 = 42
var2 = 43.14
var3 = "Data Science"
var4 = True

def print_var_type(var, var_name):
    print(f"The type of variable '{var_name}' with value '{var}' is: {type(var)}")

print_var_type(var1, "var1")
print_var_type(var2, "var2")
print_var_type(var3, "var3")
print_var_type(var4, "var4")

The type of variable 'var1' with value '42' is: <class 'int'>
The type of variable 'var2' with value '43.14' is: <class 'float'>
The type of variable 'var3' with value 'Data Science' is: <class 'str'>
The type of variable 'var4' with value 'True' is: <class 'bool'>

____

##  Lab Task 7: Basic Variable Assignment

**Task:** Assign the following values to variables and print them.

- An integer value of 25.
- A float value of 3.14.
- A string value &quot;Hello, Python!&quot;.
- A boolean value True.

In [45]:
num_int = 25
num_float = 3.14
str_num_int = "100"
str_num_float = "3.14"
bool_value = True

#print them 
print("Integer value:", num_int)
print("Float value:", num_float)    
print("String representing an integer:", str_num_int)
print("String representing a float:", str_num_float)
print("Boolean value:", bool_value)

Integer value: 25
Float value: 3.14
String representing an integer: 100
String representing a float: 3.14
Boolean value: True