**Name:** Muhammad Umer

**Email** umerhayat282@gmail.com

**Date** September 15, 2025



____

##  Loops

**20. Count Down: Write a loop that counts down from 10 to 1 and then prints &quot;Happy New Year!&quot;**

In [12]:
num = 10
while num > 1:
    num = num-1
    print(num)

print("Happy New Year!")

9
8
7
6
5
4
3
2
1
Happy New Year!

**21. Sum of Numbers: Write a loop that calculates the sum of numbers from 1 to 100.**

In [24]:
total = 0
for i in range(1, 101):
    total += i 

print(f"The sum of numbers from 1 to 100 is:  {total}")

The sum of numbers from 1 to 100 is:  5050

**22. Print List: Write a loop that prints each item in a list of fruits.**

In [26]:
list_of_fruits = ["orange", "apple", "banana", "cherry","mango"]
for i in (list_of_fruits):
    print(i)

orange
apple
banana
cherry
mango

**23. Factorial: Write a loop that calculates the factorial of a given number.**

In [41]:
input_num = int(input("Enter a number to calculate factorial: "))
factorial = 1

for i in range(1, input_num +1):
    factorial *= i 
print(f"The factorial of {input_num} is:     {factorial}")

The factorial of 3 is:     6

**24. Reverse String: Write a loop that reverses a given string.**

In [55]:
st_string = "the quick brown fox jumps over the lazy dog"
reverse_st = "" 
for char in st_string:
    reverse_st = char + reverse_st
print(reverse_st)

god yzal eht revo spmuj xof nworb kciuq eht

**25. Multiplication Table: Write a loop that prints the multiplication table for a given number.**

In [63]:
number = int(input("Enter a number: "))
for i in range(1,11):
    print(f"{number} x {i} : {i*number}")

5 x 1 : 5
5 x 2 : 10
5 x 3 : 15
5 x 4 : 20
5 x 5 : 25
5 x 6 : 30
5 x 7 : 35
5 x 8 : 40
5 x 9 : 45
5 x 10 : 50

**26. Fibonacci Series: Write a loop that prints the first 10 numbers in the Fibonacci series.**

In [69]:
a = 0
b = 1

for _ in range(10):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

**27. Sum of Even Numbers: Write a loop that calculates the sum of all even numbers between 1 and 50.**

In [78]:
initiator = 0
for i in range(2, 51, 2):
    initiator += i 

print(f"The sum of all even number between 1 to 50 is: {initiator}")

The sum of all even number between 1 to 50 is: 650

**28. Square of Numbers: Write a loop that prints the square of numbers from 1 to 10.**

In [80]:
for i in range(1,11):
    print(f"The square of {i} is : {i**2}")

The square of 1 is : 1
The square of 2 is : 4
The square of 3 is : 9
The square of 4 is : 16
The square of 5 is : 25
The square of 6 is : 36
The square of 7 is : 49
The square of 8 is : 64
The square of 9 is : 81
The square of 10 is : 100

**29. Vowel Count: Write a loop that counts the number of vowels in a given string.**

In [88]:
st_string = "the quick brown fox jumps over the lazy dog"
vowel_count = 0
vowel = "aeiouAEIOU"


for char in st_string:
    if char in vowel:
        vowel_count += 1
print(f"The number of vowels in the string is: {vowel_count}")

The number of vowels in the string is: 11

____

## Combination of Loops and Conditional Statements

**30. Prime Numbers: Write a loop that prints all prime numbers between 1 and 50.**

In [109]:
for num in range(2, 51):
    is_prime = True 
    for i in range(2, int(num ** 0.5) + 1 ):
        if num % i == 0:
            is_prime = False
            break 
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

**31. Palindrome Check: Write a loop that checks if a given string is a palindrome.**

In [128]:
given_string = "tenet"

is_palindrome = True
for i in range(len(given_string) // 2):
    if given_string[i] != given_string[-(i+1)]:
        break 
if is_palindrome:
    print(f"{given_string} is a palindrome")
else:
    print(f"{given_string} is not palindrome")

tenet is a palindrome

**32. Number Guessing Game: Implement a simple number guessing game using a loop and**

**conditional statements:**

- 1. The program picks a random number between 1 and 100.
- 2. The user guesses the number.
- 3. The program indicates whether the guess is too low, too high, or correct.
- 4. The loop continues until the user guesses the correct number.

In [ ]:
import random 
secret_number = random.randint(1,100)

while True:
    guess = int(input("Guess the number between 1 to 100: "))
    if guess < secret_number:
        print("Too Low")
    elif guess > secret_number:
        print("Too High")
    else:
        print("Congratulations! You gussed the correct number")
        break

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.
Too Low
Too Low
Too Low
Too High
Too High

**33. Grade Calculation: Write a loop that calculates the average grade of a list of student scores and assigns a letter grade based on the average.**

In [13]:
scores = [76,45,86,99,95]


total = 0
for score in scores:
    total += score

average = total / len(scores)

if average >= 90:
    grade = 'A'
elif average >= 80 and average <= 89:
    grade = 'B'
elif average >= 70 and average <= 79:
    grade = 'C'
elif average >= 60 and average <= 69:
    grade = 'D'
else:
    grade = 'F'

print(f"Average score: {average:.2f}")
print(f"Letter grade: {grade}")

Average score: 80.20
Letter grade: B

**34. List Filtering: Write a loop that filters out all odd numbers from a list of integers and prints the remaining even numbers.**

In [18]:
num_list = list((23,86,54,8,19,13,84,99,855,563,859,546,8))

for i in num_list:
    if i % 2 == 0:
        print(i)

86
54
8
84
546
8

**35. Temperature Conversion: Write a loop that converts a list of temperatures from Celsius to Fahrenheit.**

In [31]:
list_of_temp = [24,56,42,46,36,16]

for i in (list_of_temp):
    farenhite = i * (9/5) + 32
    print(f" {i} Degree Celcius to Farenhite {farenhite:.2f}")

 24 Degree Celcius to Farenhite 75.20
 56 Degree Celcius to Farenhite 132.80
 42 Degree Celcius to Farenhite 107.60
 46 Degree Celcius to Farenhite 114.80
 36 Degree Celcius to Farenhite 96.80
 16 Degree Celcius to Farenhite 60.80

**36. Count Occurrences: Write a loop that counts the occurrences of a specific element in a list.**

In [35]:
rand_list = [65,83,75,64.92,84,65,8,9,45,45,1, 1, 85,84]

element_to_find = 45
counter = 0 

for item in rand_list:
    if item == element_to_find:
        counter +=1
print(f"The element {element_to_find} appears {counter} times in the list")

The element 45 appears 2 times in the list

**37. Matrix Addition: Write nested loops to add two 3x3 matrices.**

In [40]:
matrix1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix2 = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]


result = []

for i in range(3):
    row = []
    for j in range(3):
        row.append(matrix1[i][j] + matrix2[i][j])
    result.append(row)

for row in result:
    print(row)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

**38. String Lengths: Write a loop that prints the length of each string in a list of strings.**

In [50]:
list_str = ["navttc","ai&ml", "airUniverity","threemonth", "handsonskill"]

for s in list_str:
    print(f"The length of '{s}' is {len(s)}")

The length of 'navttc' is 6
The length of 'ai&ml' is 5
The length of 'airUniverity' is 12
The length of 'threemonth' is 10
The length of 'handsonskill' is 12

**39. Sum of Digits: Write a loop that calculates the sum of the digits of a given number.**

In [57]:
input_str = str(input("Enter a number"))

digit_sum = 0

for digit in input_str:
    digit_sum += int(digit)

print(digit_sum)

17

**40. Password Validation: Write a loop and conditional statements to validate a password based on these criteria:**

- 1. At least 8 characters long
- 2. Contains both uppercase and lowercase letters
- 3. Contains at least one numerical digit

In [64]:
password_input = input("Enter Your Password: ")

while True:
    if (
        len(password_input) >= 8 
        and any(char.isupper() for char in password_input) 
        and any(char.islower() for char in password_input) 
        and any(char.isdigit() for char in password_input)
    ):
        print("Correct Password")
        break
    else:
        print("Incorrect Password: Please Enter a valid Password")
        password_input = input("Enter Your Password: ")

Incorrect Password: Please Enter a valid Password
Correct Password

**41. Capitalize Words: Write a loop that capitalizes the first letter of each word in a sentence.**

In [68]:
sentence = "umer"

for i in sentence:
    upper_case = i.upper()
    print(upper_case)

U
M
E
R

**42. Divisibility Check: Write a loop that checks if numbers from 1 to 50 are divisible by 3 and 5, and prints &quot;Fizz&quot; for 3, &quot;Buzz&quot; for 5, and &quot;FizzBuzz&quot; for both.**

In [76]:
for num in range(1, 51):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
        print("_"*50)
    elif num % 3 == 0:
        print("Fizz")
        print("_"*50)
    elif num % 5 == 0:
        print("Buzz")
        print("_"*50)
    else:
        print(num)
        print("_"*50)

1
__________________________________________________
2
__________________________________________________
Fizz
__________________________________________________
4
__________________________________________________
Buzz
__________________________________________________
Fizz
__________________________________________________
7
__________________________________________________
8
__________________________________________________
Fizz
__________________________________________________
Buzz
__________________________________________________
11
__________________________________________________
Fizz
__________________________________________________
13
__________________________________________________
14
__________________________________________________
FizzBuzz
__________________________________________________
16
__________________________________________________
17
__________________________________________________
Fizz
__________________________________________________
19
__________________________________________________
Buzz
__________________________________________________
Fizz
__________________________________________________
22
__________________________________________________
23
__________________________________________________
Fizz
__________________________________________________
Buzz
__________________________________________________
26
__________________________________________________
Fizz
__________________________________________________
28
__________________________________________________
29
__________________________________________________
FizzBuzz
__________________________________________________
31
__________________________________________________
32
__________________________________________________
Fizz
__________________________________________________
34
__________________________________________________
Buzz
__________________________________________________
Fizz
__________________________________________________
37
__________________________________________________
38
__________________________________________________
Fizz
__________________________________________________
Buzz
__________________________________________________
41
__________________________________________________
Fizz
__________________________________________________
43
__________________________________________________
44
__________________________________________________
FizzBuzz
__________________________________________________
46
__________________________________________________
47
__________________________________________________
Fizz
__________________________________________________
49
__________________________________________________
Buzz
__________________________________________________

**43. Finding Max and Min: Write a loop that finds the maximum and minimum values in a list of numbers.**

In [86]:
number_list = [3,5,7,2,8,2,819,634,96,73,6758,65234,974]

#thats not loop problem 

max_value = max(number_list)
min_value = min(number_list)

print(f"The maximum value in the list is {max_value}")
print(f"The minimum value in the list is {min_value}")

The maximum value in the list is 65234
The minimum value in the list is 2

**44. Bubble Sort: Write a loop to implement the bubble sort algorithm on a list of numbers.**

In [91]:
n = len(number_list)

for i in range(n):
    for j in range(0, n - i - 1):
        if number_list[j] > number_list[j + 1]:
            number_list[j], number_list[j + 1] = number_list[j + 1], number_list[j]

print("Sorted list:", number_list)

Sorted list: [2, 2, 3, 5, 7, 8, 73, 96, 634, 819, 974, 6758, 65234]

___

##  Advanced Tasks

**45. Matrix Operations: Ask the user to input a 2D list (matrix) and print its transpose.**

In [ ]:
rows = int(input("Enter number of rows: "))
cols = int(input("Enter number of columns: "))

matrix = []
for i in range(rows):
    row = list(map(int, input(f"Enter row {i+1} (space-seprated): ").split()))
    matrix.append(row)

print(matrix)

transpose = []
for j in range(cols):
    transposed_row = []
    for i in range(rows):
        transposed_row.append(matrix[i][j])
    transpose.append(transposed_row)

print("Transpose of the matrix")
for row in transpose:
    print(row)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
Transpose of the matrix
[1, 1, 1]
[2, 2, 2]
[3, 3, 3]

**46. Frequency of Elements: Ask the user to input a list of numbers and count the frequency of each element. Print the result.**

In [107]:
from collections import Counter
user_input = input("Enter a list of numbers seprated by spaces:")
numbers_list = list(map(int, user_input.split()))
freq = Counter(numbers_list)

for num, count in freq.items():
    print(f"Number {num} appears {count} times. ")

Number 1 appears 1 times.
Number 2 appears 3 times.
Number 3 appears 2 times.
Number 8 appears 2 times.
Number 9 appears 1 times.
Number 7 appears 1 times.

**47. Element Pairing: Ask the user to input two lists and pair elements from both lists into a list of tuples. Print the result.**

In [109]:
input_1 = input("Enter the number (space_seprated) : ").split()
input_2 = input("Enter the number (space seprated) : ").split()

make_list_of_tuple = list(zip(input_1, input_2))
print(make_list_of_tuple)

[('1', '6'), ('2', '5'), ('3', '4'), ('4', '3'), ('5', '2'), ('6', '1')]

**48. Flatten List: Ask the user to input a nested list and flatten it into a single list. Print the result.**

In [113]:
nested_list = []
rows = int(input("Enter number of rows: "))
for i in range(rows):
    row = input(f"Enter elements of row {i+1} (space-separated): ").split()
    nested_list.append(row)
print("Nested list:")
print(nested_list)


flattened_list = []
for item in nested_list:
    flattened_list.extend(item)
print("Flattened list:")
print(flattened_list)
#

Nested list:
[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]
Flattened list:
['1', '2', '3', '4', '5', '6', '7', '8', '9']

**49. Palindrome Check: Ask the user to input a list of numbers and check if it forms a palindrome. Print the result.**

In [120]:
user_input = input("Enter list of number space seprated:  ").split()

is_pelindrome = True
for i in range(len(user_input)//2):
    if user_input[i] != user_input[-(i+1)]:
        break 
if is_pelindrome:
    print(f"this list {user_input} is a palindrome")
else:
    print(f"this list {user_input} is not a palindrome")

this list ['1', '1', '1', '1', '1'] is a palindrome