**Name:** Muhammad Umer

**Email** umerhayat282@gmail.com

**Date** September 11, 2025



____

#   Arrays (Lists)

**1-Create a List: Ask the user to input 10 natural numbers and store them in a list. Print the list.**

In [3]:
numbers = []
for i in range(10):
    number = int(input("Enter a number: "))
    numbers.append(number)
print("The list is:", numbers)

The list is: [8, 9, 4, 12, 95, 78, 35, 25, 97, 35]

**2-List Indexing: Given a list of numbers [10, 20, 30, 40, 50], access and print the third element.**

In [4]:
list_of_numbers = [10, 20, 30, 40, 50]
print("The third element is:", list_of_numbers[2])

The third element is: 30

**3-List Slicing: Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], slice the list to get the first 5 elements and print them.**

In [5]:
another_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sliced_list = another_list[:5]
print("The first 5 elements are:", sliced_list)

The first 5 elements are: [1, 2, 3, 4, 5]

**4-Append to List: Append the color &#39;purple&#39; to the list of colors [&#39;red&#39;, &#39;blue&#39;, &#39;green&#39;] and print the updated list.**

In [6]:
list_of_colors = ['red', 'blue', 'green']
list_of_colors.append('purple')
print("The updated list of colors is:", list_of_colors)

The updated list of colors is: ['red', 'blue', 'green', 'purple']

**5-Extend List: Extend the list of fruits [&#39;apple&#39;, &#39;banana&#39;] with another list [&#39;cherry&#39;, &#39;date&#39;] and print the updated list.**

In [7]:
list_of_fruits = ['apple', 'banana']
list_of_fruits.extend(['cherry', 'date'])
print("The updated list of fruits is:", list_of_fruits)

The updated list of fruits is: ['apple', 'banana', 'cherry', 'date']

**6-Insert into List: Insert the number 15 at the second position in the list [10, 20, 30] and print the updated list.**

In [8]:
l_list = [10, 20, 30]
l_list.insert(1, 15)
print("The updated list is:", l_list)

The updated list is: [10, 15, 20, 30]

**7-Remove from List: Remove the first occurrence of the element &#39;banana&#39; from the list [&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;, &#39;banana&#39;] and print the updated list.**

In [9]:
fruits_list = ['apple', 'banana', 'cherry', 'banana']
fruits_list.remove('banana')
print("The updated list of fruits is:", fruits_list)

The updated list of fruits is: ['apple', 'cherry', 'banana']

**8-Pop from List: Pop the last element from the list [1, 2, 3, 4, 5], print the popped element, and the updated list.**

In [10]:
new_list = [1, 2, 3, 4, 5]
popped_element = new_list.pop()
print("The popped element is:", popped_element)

The popped element is: 5

**9-Reverse List: Reverse the list [1, 2, 3, 4, 5] and print the reversed list.**

In [11]:
r_list = [1, 2, 3, 4, 5]
r_list.reverse()
print("The reversed list is:", r_list)

The reversed list is: [5, 4, 3, 2, 1]

**10-Sort List: Sort the list of names [&#39;John&#39;, &#39;Alice&#39;, &#39;Bob&#39;] in alphabetical order and print the sorted list.**

In [12]:
name_list = ['John', 'Alice', 'Bob']
name_list.sort()
print("The sorted list of names is:", name_list)

The sorted list of names is: ['Alice', 'Bob', 'John']

**11-List Comprehension: Create a list of squares of the first 10 natural numbers using list comprehension and print the list.**

In [14]:

squares = [x**2 for x in range(1, 11)]
print("The list of squares is:", squares)

The list of squares is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**12-Find Max and Min: Find the maximum and minimum values in the list [4, 2, 8, 6, 5] and print them.**

In [15]:
num_list = [4, 2, 8, 6, 5]
max_value = max(num_list)
min_value = min(num_list)
print("The maximum value is:", max_value)
print("The minimum value is:", min_value)

The maximum value is: 8
The minimum value is: 2

**13-Sum of Elements: Calculate the sum of all elements in the list [4, 2, 8, 6, 5] and print it.**

In [19]:
list_num_2 = [1, 2, 3, 4]
summation = sum(list_num_2)
print("The sum of all elements is:", summation)

The sum of all elements is: 10

**14-Product of Elements: Calculate the product of all elements in the list [1, 2, 3, 4] and print it.**

In [20]:
list_num_2 = [1, 2, 3, 4]
product = 1
for num in list_num_2:
    product *= num
print("The product is:", product)

The product is: 24

**15- Remove Duplicates: Remove duplicate elements from the list [1, 2, 2, 3, 4, 4, 5] and print the updated list.**

In [21]:
list_num = [1, 2, 2, 3, 4, 5]
unique_list = list(set(list_num))
print("The list after removing duplicates is:", unique_list)

The list after removing duplicates is: [1, 2, 3, 4, 5]

**16-List of Even Numbers: Create a list of even numbers from the given list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] and print it.**

In [22]:
num_list = [1,2,3,4,5,6,7,8,9,10]
even_numbers = [num for num in num_list if num % 2 == 0]
print("The list of even numbers is:", even_numbers)

The list of even numbers is: [2, 4, 6, 8, 10]

**17-List to String: Convert the list of characters [&#39;H&#39;, &#39;e&#39;, &#39;l&#39;, &#39;l&#39;, &#39;o&#39;] to a string and print it.**

In [23]:
character_list = ['H', 'e', 'l', 'l', 'o']
string = ''.join(character_list)
print("The string is:", string)

The string is: Hello

**18-String to List: Convert the string &quot;Hello&quot; to a list of characters and print it.**

In [24]:
charac = "Hello"
char_list = list(charac)
print("The list of characters is:", char_list)

The list of characters is: ['H', 'e', 'l', 'l', 'o']

___

#   Tuples

**19- Create a Tuple: Create a tuple with different data types (e.g., integer, float, string) and print it.**

In [1]:
diff_tupl = (258, 25.56, "Python", True)
print("The tuple is:", diff_tupl)

The tuple is: (258, 25.56, 'Python', True)

**20-Access Tuple Elements: Given a tuple (&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;), access and print the second element.**

In [2]:
alpha_tupl = ('a', 'b', 'c', 'd')
print("The second element is:", alpha_tupl[1])

The second element is: b

**21- Unpack Tuple: Unpack the tuple (1, 2, 3) into three variables and print them.**

In [3]:
unpack_tupl = (1, 2, 3)
a, b, c = unpack_tupl
print("a =", a)
print("b =", b)
print("c =", c)

a = 1
b = 2
c = 3

**22- Concatenate Tuples: Concatenate the tuples (1, 2) and (3, 4) and print the result.**

In [4]:
con_tupl = (1, 2) + (3, 4)
print("The concatenated tuple is:", con_tupl)

The concatenated tuple is: (1, 2, 3, 4)

**23- Repeat Tuple: Repeat the tuple (1, 2, 3) three times and print the result.**

In [5]:
repeat_tupl = (1, 2, 3) * 3
print("The repeated tuple is:", repeat_tupl)

The repeated tuple is: (1, 2, 3, 1, 2, 3, 1, 2, 3)

**24- Tuple Slicing: Slice the tuple (1, 2, 3, 4, 5) to get the last three elements and print them.**

In [6]:
slice_tupl = (1, 2, 3, 4, 5)
last_three = slice_tupl[-3:]
print("The last three elements are:", last_three)

The last three elements are: (3, 4, 5)

**25-Check Element in Tuple: Check if the element &#39;b&#39; exists in the tuple (&#39;a&#39;, &#39;b&#39;, &#39;c&#39;) and print the result.**

In [7]:
element_tupl = ('a', 'b', 'c')
exists = 'b' in element_tupl
print("The element 'b' exists in the tuple:", exists)

The element 'b' exists in the tuple: True

**26-Count Tuple Elements: Count the occurrences of the element 2 in the tuple (1, 2, 2, 3, 4) and print the result.**

In [9]:
count_tupl = (1, 2, 2, 3, 4)
#count the occurrences of element 2 in tuple
count_2 = count_tupl.count(2)
print("The number of occurrences of 2 is:", count_2)

The number of occurrences of 2 is: 2

**27- Index of Element in Tuple: Find the index of the element &#39;c&#39; in the tuple (&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;) and print it.**

In [10]:
ind_tupl = ('a', 'b', 'c', 'd')
index_c = ind_tupl.index('c')
print("The index of 'c' is:", index_c)

The index of 'c' is: 2

**28-Convert Tuple to List: Convert the tuple (1, 2, 3) to a list and print it.**

In [11]:
tup_tolist = (1, 2, 3)
list_converted = list(tup_tolist)
print("The converted list is:", list_converted)

The converted list is: [1, 2, 3]

**29-Convert List to Tuple: Convert the list [1, 2, 3] to a tuple and print it.**

In [12]:
list_to_tup = [1, 2, 3]
tuple_converted = tuple(list_to_tup)
print("The converted tuple is:", tuple_converted)

The converted tuple is: (1, 2, 3)

**30-Nested Tuples: Create a nested tuple ((1, 2), (3, 4), (5, 6)) and print the first element of the second tuple.**

In [13]:
nested_tupl = ((1, 2), (3, 4), (5, 6))
first_element_second_tuple = nested_tupl[1][0]
print("The first element of the second tuple is:", first_element_second_tuple)

The first element of the second tuple is: 3