**Name:** Muhammad Umer

**Email** umerhayat282@gmail.com

**Date** October 22, 2025

____

#   **Feature Encoding**

In [17]:
#importing necessary liabraries
import pandas as pd
from  sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

In [18]:
#importing data
df = pd.read_csv(r"D:\Ai_machine_learning_deep_learning_air_university_lab_islamabad\data\NCHS.csv")
df.head()

   Year  ... Age-adjusted Death Rate
0  1999  ...                    52.2
1  1999  ...                    55.9
2  1999  ...                    44.8
3  1999  ...                    47.6
4  1999  ...                    28.7

[5 rows x 6 columns]

##  **Handling Categorical Column:  `113 Cause Name` and `Cause Name`**

In [19]:
df['113 Cause Name'].unique()

array(['Accidents (unintentional injuries) (V01-X59,Y85-Y86)',
       'All Causes', "Alzheimer's disease (G30)",
       'Assault (homicide) (*U01-*U02,X85-Y09,Y87.1)',
       'Cerebrovascular diseases (I60-I69)',
       'Chronic liver disease and cirrhosis (K70,K73-K74)',
       'Chronic lower respiratory diseases (J40-J47)',
       'Diabetes mellitus (E10-E14)',
       'Diseases of heart (I00-I09,I11,I13,I20-I51)',
       'Essential hypertension and hypertensive renal disease (I10,I12,I15)',
       'Influenza and pneumonia (J09-J18)',
       'Malignant neoplasms (C00-C97)',
       'Intentional self-harm (suicide) (*U03,X60-X84,Y87.0)',
       'Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)',
       "Parkinson's disease (G20-G21)",
       'Pneumonitis due to solids and liquids (J69)',
       'Septicemia (A40-A41)'], dtype=object)

In [7]:
df['113 Cause Name'].nunique()

17

In [20]:
#lets check if there is similarity betweeen Cause Name and 113 Cause name, i have intuition that both are same 
df['Cause Name'].nunique()

17

In [21]:
df['Cause Name'].unique()

array(['Unintentional Injuries', 'All Causes', "Alzheimer's disease",
       'Homicide', 'Stroke', 'Chronic liver disease and cirrhosis',
       'CLRD', 'Diabetes', 'Diseases of Heart',
       'Essential hypertension and hypertensive renal disease',
       'Influenza and pneumonia', 'Cancer', 'Suicide', 'Kidney Disease',
       "Parkinson's disease", 'Pneumonitis due to solids and liquids',
       'Septicemia'], dtype=object)

**Observation**

- The column 113 Cause Name contains 17 unique values and Cause Name column also have 17 unique value.

- The data is categorical but not ordinal (no ranking or order among categories).

- It is also not binary, since there are more than two distinct categories.

**Plan of Action**

- 1-Confirm that there is no natural order among the values (e.g., no “low–medium–high” relationship).

- 2-Identify that the feature is nominal categorical (unordered categories).

- 3-Drop duplicate or irrelevant columns if necessary (e.g., one of each repeated or redundant column).

- 4-Apply One-Hot Encoding to convert the categorical values into multiple binary columns.

- 5-Use either OneHotEncoder from sklearn.preprocessing or pd.get_dummies() for simplicity.

- 6-Merge the encoded columns back into the main DataFrame and remove the original column to avoid redundancy.

In [22]:
#drop the extra column 
df = df.drop("113 Cause Name", axis=1)

In [23]:
ohe = OneHotEncoder(sparse_output=False)
encoded = ohe.fit_transform(df[['Cause Name']])

encoded_df = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(["Cause Name"]))
df = pd.concat([df, encoded_df], axis=1).drop("Cause Name", axis=1)

In [24]:
df

       Year  ... Cause Name_Unintentional Injuries
0      1999  ...                               1.0
1      1999  ...                               1.0
2      1999  ...                               1.0
3      1999  ...                               1.0
4      1999  ...                               1.0
...     ...  ...                               ...
15023  2015  ...                               0.0
15024  2015  ...                               0.0
15025  2015  ...                               0.0
15026  2015  ...                               0.0
15027  2015  ...                               0.0

[15028 rows x 21 columns]

##  **Handling Categorical Column: `State`**

**Observation**
- The column `State` contains names of U.S. states such as *California, Texas, New York,* etc.  
- It has around **50 unique values** representing **different states**.  
- The data type is **categorical**, but there is **no natural order or ranking** among these categories.  
- Therefore, this column is classified as **Nominal Categorical Data**.  
- Applying numeric labels (like with `LabelEncoder` or `OrdinalEncoder`) would **impose a false order**, which can mislead machine learning models.



**Plan of Action**
1. **Verify** that there is no natural order among the state names.  
2. **Confirm** that the `State` column is **nominal categorical** (unordered categories).  
3. **Apply One-Hot Encoding** to convert each unique state into a separate binary column.  
4. **Use** `OneHotEncoder` from `sklearn.preprocessing` or `pd.get_dummies()` for implementation.  
5. **Merge** the encoded columns back with the main DataFrame.  
6. **Drop** the original `State` column to avoid redundancy and multicollinearity.

In [13]:
df['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'United States', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [25]:
ohe2 = OneHotEncoder(sparse_output=False)

# Fit and transform the 'State' column
encoded_states = ohe.fit_transform(df[['State']])

# Convert to DataFrame
encoded_df = pd.DataFrame(encoded_states, columns=ohe.get_feature_names_out(['State']))

# Merge and drop original column
df = pd.concat([df, encoded_df], axis=1).drop('State', axis=1)

In [26]:
df.head()

   Year  Deaths  ...  State_Wisconsin  State_Wyoming
0  1999  2313.0  ...              0.0            0.0
1  1999   294.0  ...              0.0            0.0
2  1999  2214.0  ...              0.0            0.0
3  1999  1287.0  ...              0.0            0.0
4  1999  9198.0  ...              0.0            0.0

[5 rows x 72 columns]